In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/dataset.csv")

In [2]:
df.head()

,ID кампании,ID баннера,Тип баннера,Тип устройства,Показы,Переходы,CTR
0,3405596,15262577,interactive,Компьютер,12596,27,0.2144
1,3405596,15257617,interactive,Смартфон,9812,30,0.3057
2,3405596,15257617,interactive,Планшет,224,2,0.8929
3,3405596,15262577,interactive,Компьютер,12511,25,0.1998
4,3405596,15257617,interactive,Смартфон,9822,38,0.3869

In [10]:
df['CTR'] = np.where(df['Переходы'] > 0, df['Переходы'] / df['Показы'], 0).round(6)

In [11]:
df.head()

,ID кампании,ID баннера,Тип баннера,Тип устройства,Показы,Переходы,CTR
0,3405596,15262577,interactive,Компьютер,12596,27,0.002144
1,3405596,15257617,interactive,Смартфон,9812,30,0.003057
2,3405596,15257617,interactive,Планшет,224,2,0.008929
3,3405596,15262577,interactive,Компьютер,12511,25,0.001998
4,3405596,15257617,interactive,Смартфон,9822,38,0.003869

In [12]:
df.to_csv('dataset.csv')