In [1]:
import pandas as pd

df = pd.read_csv('../data/dataset.csv')

In [3]:
df.head()

,ID кампании,ID баннера,Тип баннера,Тип устройства,Показы,Переходы,CTR
0,3405596,15262577,interactive,Компьютер,12596,27,0.00214
1,3405596,15257617,interactive,Смартфон,9812,30,0.00306
2,3405596,15257617,interactive,Планшет,224,2,0.00893
3,3405596,15262577,interactive,Компьютер,12511,25,0.00200
4,3405596,15257617,interactive,Смартфон,9822,38,0.00387

In [24]:
df['CTR'] = (df['Переходы'] / df['Показы'] * 100).round(4)

In [25]:
df.head()

,ID кампании,ID баннера,Тип баннера,Тип устройства,Показы,Переходы,CTR
0,3405596,15262577,interactive,Компьютер,12596,27,0.2144
1,3405596,15257617,interactive,Смартфон,9812,30,0.3057
2,3405596,15257617,interactive,Планшет,224,2,0.8929
3,3405596,15262577,interactive,Компьютер,12511,25,0.1998
4,3405596,15257617,interactive,Смартфон,9822,38,0.3869